{% extends 'Common/base.htm' %}
{% load getImg %}
{% block title %}
{% endblock %}
{% block HeadContent%}
    <link rel="stylesheet" type="text/css" href="/static/css/common-Zone.css">
    <style type="text/css">
    div.content-L h3{text-align: center;margin: 20px 0;}
    div.content-L>div>p{margin-top: 15px; text-indent: 2em; line-height: 22px;}
    </style>
{% endblock %}
{% block Content %}
    <div class="main-content">
        <div class="content-L">
            {% if err %}
                <h3>err</h3>
            {% else %}
                <h3>{{ article.title }}</h3>
                {% ifequal article.category.name "说说" %}
                    {% if article.title_img %}
                                <img src="{{ article.title_img | chat_url }} " height="150px" width="150">
                {% endif %}
                {% endifequal %}
                <div>
                    {{ article.content | safe }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block JavaScript %}
 <script src="/static/js/jquery-3.2.1.min.js"></script>

<script src="/static/js/jq1.7-jq1.9.js"></script>
<script src="/static/js/bootstrap.js"></script>
{% endblock %}