{% extends 'Common/base.htm' %}
{% block title %}
    Publish your msg!
{% endblock %}
{% block HeadContent%}
    <link rel="stylesheet" type="text/css" href="/static/css/common-Zone.css">
    <style type="text/css">
        .form-control{width: 200px;}
        .btn-group-lg>.btn, .btn-lg{padding:6px 12px;}
        #summary{display: none;}
    </style>
     <script src="/static/plugins/ckeditor/ckeditor.js"></script>
{% endblock %}
{% block Content %}
    <div class="main-content">
        <div class="content-L">
        {% if art %}
            <h4>{{ art.category.name }} :《{{ art.title }}》 已发布！<a href="{% url 'article' art.id %}">点击查看</a></h4>
        {% else %}
            {% comment %}<form method="POST" action="{% url 'publish' %}" enctype="multipart/form-data">{% endcomment %}
            <form method="POST" id="myForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputName2">发表类型：</label>
            <select class="form-control" name="category" id="category" >
                    {% for category in category %}
                     <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                    </select>
        </div>
        <div class="form-group" >
            <label for="exampleInputName1" id="categoryTypeName">说说</label>
            <input type="text" class="form-control" required name="title" id="exampleInputName1" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleInputFile">上传图片：</label>
            <input type="file" id="exampleInputFile" name="title_img">
        </div>
        <div class="form-group" id="summary">
            <label for="exampleInputName2">总结：</label>
            <input type="text" name="summary" class="form-control" id="exampleInputName2" placeholder="总结" style="margin-bottom: 15px">
            <textarea name="content" id="editor1" rows="10" cols="80">
        </textarea>
        </div>

        <button type="button" class="btn btn-primary btn-lg active pull-right" id="sub">提交</button>
    </form>
        {% endif %}
        </div>

    </div>
{% endblock %}
{% block JavaScript %}
   <script src="/static/js/jquery-3.2.1.min.js"></script>

<script src="/static/js/jq1.7-jq1.9.js"></script>
<script src="/static/js/bootstrap.js"></script>
    <script>

        var editor=CKEDITOR.replace( 'content' );
        //var selectValue=$("#category").find("option:selected").text();
        $("#category").change(function () {
             var selectValue=$("#category").find("option:selected").text();
            $("#categoryTypeName").text(selectValue);
            if(selectValue=="说说"){
                $("#summary").css("display","none");
            }else{
                $("#summary").css("display","block");
            }
        })

    $("#sub").click(function () {
        var selectValue=$("#category").find("option:selected").text();
        if(selectValue=="说说"){
            if(isNullValue("exampleInputName1")){
                $("#myForm").submit();
            }else{
                $("#exampleInputName1").focus();
                alert("说说内容不能为空！");
            }
        }else{
            if(isNullValue("exampleInputName1") && isNullValue("exampleInputName2") && editor.getData().trim().length>0){
                $("#myForm").submit();
            }else {
                alert("数据不能为空！");
            }
        }
    })
    function isNullValue(idName) {
        if($("#"+idName).val().length>0){
            return true;
        }
        return false;
    }
    </script>
{% endblock %}