{% extends 'Common/base.htm' %}
{% block title %}
    Publish your msg!
{% endblock %}
{% block HeadContent%}
    <link rel="stylesheet" type="text/css" href="/static/css/common-Zone.css">
     <script src="/static/plugins/ckeditor/ckeditor.js"></script>
{% endblock %}
{% block Content %}
    <div class="main-content">
        <div class="content-L">
        {% if art %}
            <h4>{{ art.category.name }} :《{{ art.title }}》 已发布！<a href="{% url 'article' art.id %}">点击查看</a></h4>
        {% else %}
            <form method="POST" action="{% url 'publish' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputName2">发表类型：</label>
            <select class="form-control" name="category" >
                    {% for category in category %}
                     <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                    </select>
        </div>
        <div class="form-group" >
            <label for="exampleInputName2">Title</label>
            <input type="text" class="form-control" name="title" id="exampleInputName2" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleInputFile">上传图片：</label>
            <input type="file" id="exampleInputFile" name="title_img">
        </div>
        <div class="form-group">
            <label for="exampleInputName2">总结：</label>
            <input type="text" name="summary" class="form-control" id="exampleInputName2" placeholder="总结">
        </div>
        <textarea name="content" id="editor1" rows="10" cols="80">
        </textarea>
        <button type="submit" class="btn btn-primary btn-lg active pull-right">提交</button>
    </form>
        {% endif %}
        </div>

    </div>
{% endblock %}
{% block JavaScript %}
    <script>
        CKEDITOR.replace( 'content' );
    </script>
{% endblock %}